ansimarkup==1.4.0
astroid==2.2.5
autopep8==1.4.4
beautifulsoup4==4.7.1
better-exceptions-fork==0.2.1.post6
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
loguru==0.2.5
lxml==4.3.4
mccabe==0.6.1
numpy==1.16.4
pandas==0.24.2
pep8==1.7.1
pycodestyle==2.5.0
Pygments==2.4.2
pylint==2.3.1
pymongo==3.8.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
rope==0.14.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.1
tushare==1.2.35
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.1
yapf==0.27.0
